@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant hover (&:hover); /* For laptop touch screen */
@custom-variant dark (&:where(.dark, .dark *));


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

.dark {
  /* dark mode manual */
}

/* Use this to match the darkmode of the client
@media (prefers-color-scheme: dark) {}
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


